
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
#slider { 
	margin: 10px; 
}

#expWraper{
	top: 0px; width: 85px; 
	height: 88px; right: 0px; 
	overflow: hidden; position: fixed;
	z-index: 2;
}

#explain{
	padding: 7px 0px; left: -5px; top: 15px; 
	width: 120px; text-align: center; color: rgb(106, 99, 64); 
	font-weight: normal; position: relative; 
	cursor: pointer; -ms-transform: rotate(45deg); 
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
	background-color: rgb(219, 183, 0); 
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px; 
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); 
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-o-transform: rotate(45deg); 
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
} 


#explain a {
	color: rgb(57, 57, 57); text-decoration: none;
}
#explain:hover a {
	text-decoration: underline;
}

.txtPs {
	font-size:1.5em;
}

.bg-4 { 
    background-color: #2f2f2f;
	padding: 25px;
    color: #ffffff;
}